<br />
<div class="row" style="text-align: center">
    <div class=" col-lg-3">
        <div>
            <a href="../Cliente/Index"> <img src="~/images/clientes.png" width="150" height="150" /> </a>
        </div>
        <div>
            <span>Cadastro de clientes</span>
        </div>
    </div>
    <div class=" col-lg-3">
        <div>
            <img src="~/images/vendedores.png" width="150" height="150" />
        </div>
        <div>
            <span>Cadastro de vendedores</span>
        </div>
    </div>
    <div class=" col-lg-3">
        <div>
            <img src="~/images/produtos.png" width="150" height="150" />
        </div>
        <div>
            <span>Cadastro de produtos</span>
        </div>
    </div>
</div>
<br />
<div class="row" style="text-align: center">
    <div class=" col-lg-3">
        <div>
            <img src="~/images/vendas.png" width="150" height="150" />
        </div>
        <div>
            <span>Registro de vendas</span>
        </div>
    </div>
    <div class=" col-lg-3">
        <div>
            <img src="~/images/relatorios.png" width="150" height="150" />
        </div>
        <div>
            <span>Relatórios</span>
        </div>
    </div>
    <div class=" col-lg-3">
        <div>
            <img src="~/images/configuracoes.png" width="150" height="150" />
        </div>
        <div>
            <span>Configurações do sistema</span>
        </div>
    </div>
</div>